.counter-chip-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    background-color: var(--color-primary-blue);

    width: 3rem;
    height: 2rem;
}

.counter-chip-el {
    color: var(--color-primary-white);
}

@media (max-width: 340px) {
    .counter-chip-container {
        width: 1.5rem;
        height: 1rem;
    }

    .counter-chip-el {
        font-size: .5rem;
    }
}
