.podcast-card-container {
    width: 17rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-white);
    box-shadow: 0 5px 10px rgb(176 177 181 / 75%);
    padding: 0 .5rem 1rem;
}

.podcast-image-container {
}

.podcast-image {
    border-radius: 5px;
}

.podcast-label {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--color-primary);
    text-transform: uppercase;

    margin-block-end: 0;
}

.podcast-artist {
    font-style: italic;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-block-start: 0;

    color: var(--color-secondary);
    font-size: 0.875rem;
}

.podcast-description {
    padding: 0 1rem;
    width: 16rem;
}

.podcast-description-header {
    margin-block-end: 0;
}

.podcast-description-summary {
    font-size: 0.875rem;
    font-style: italic;
    word-wrap: break-word;
}

.link {
    text-decoration: none;
}
