.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1050px;
}

.filter {
    align-self: flex-end;
}

@media (max-width: 1110px) {
    .main {
        max-width: 1000px;
    }

    .filter {
        margin-right: 1rem;
    }
}
